* {
	margin: 0;
	padding: 0;
}

html body{
	height: 100%;
}

/* logic styles */
.fadeIn{
	opacity: 0;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #e6e6e6;
}

.stickyFooter{
	flex: 1 0 auto;
}

/* nav styles */
.customFont{
	font-family: 'Abril Fatface', cursive;
	font-size: 22px;
	color: #fc0 !important;
	letter-spacing: 1px;
}

@media screen and (max-width: 392px){
	.customFont{
		font-size: 19px;
	}
}

.navbar{
	min-height: 75px;
	margin-bottom: 0;
}

@media screen and (max-width: 600px){
	.navbar{
		position: static;
	}
}

.mainNav{
	padding-top: 10px;
}

.navbar-inverse
.navbar-nav>li>a{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-inverse
.navbar-nav>li>a:hover{
	color: #fc0 !important;
	text-decoration: underline;
	text-decoration-color: #fff; 
}

.navbar-inverse
.navbar-toggle{
	border-color: #222;
}

/* video styles */
#videoSection{
	position: relative;
	overflow: hidden;
	max-height: 100vh;
	width: 100%;
}

#headerVideo{
	width: 100%;
}

video::-webkit-media-controls{
	display: none !important;
}

#videoText h1{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #000;
	text-align: center;
	font-family: 'Abril Fatface' , cursive;
	letter-spacing: 1px;
	border: 3px solid;
	padding: 20px 10px;
}

@media screen and (max-width: 600px) {
	#videoText h1{
		font-size: 30px;
		margin: 0;
	}
}

@media screen and (max-width: 500px) {
	#videoText h1{
		font-size: 26px;
		padding: 0;
	}
}

@media screen and (max-width: 440px){
	#videoText h1{
		font-size: 23px;
		border: 2px solid;
		padding: 2px;
	}
}

/* quote styles */
#quoteSection{
	padding: 110px 0;
}

#quote{
	text-align: center;
	font-family: 'Lobster' , cursive;
	letter-spacing: 1px;
	font-size: 34px;
}

#author{
	text-align: right;
	font-family: 'Lobster' , cursive;
	letter-spacing: 1px;
	font-size: 34px;
}

@media screen and (max-width: 768px){
	#quote{
		font-size: 26px;
	}
	#author{
		font-size: 26px;
	}
}

@media screen and (max-width: 690px){
	#quoteSection{
		padding: 70px 0;
	}
}

@media screen and (max-width: 500px) {
	#quoteSection{
		padding: 55px 0;
	}
	#quote{
		font-size: 22px;
	}
	#author{
		font-size: 22px;
	}
}

/* index styles */
#lifeBanner{
	background: url('../assets/images-videos/bakersfield-sign.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 180px 0;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

#lifeBanner:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.bannerText{
	color: #fff;
	font-family: 'Abril Fatface' , cursive;
	letter-spacing: 2.5px;
	font-size: 42px;
	text-shadow: 2px 2px 4px #000;
}

@media screen and (max-width: 766px){
	#lifeBanner{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
}

@media screen and (max-width: 600px) {
	#lifeBanner{
		padding: 100px 0;
	}
	#natureBanner{
		padding: 100px 0;
	}
	.bannerText{
		font-size: 30px;
	}
}

@media screen and (max-width: 500px) {
	.bannerText{
		font-size: 26px;
	}
}

.contentSection{
	margin: 50px 0 50px 0;
}

/* Image Grid Styles */
.contentSection img{
	height: 250px;
	width: auto;
	margin: 10px;
	border: 2px solid #000;
	border-radius: 5px;
}

@media screen and (max-width: 390px){
	.contentSection img{
		height: 215px;
		margin-left: 0;
		margin-right: 0;
	}
}

.imageBox{
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	-webkit-transform: 0.3s ease-in-out;
	-moz-transform: 0.3s ease-in-out;
	-ms-transform: 0.3s ease-in-out;
	-o-transform: 0.3s ease-in-out;
	transform: 0.3s ease-in-out;
}

.imageBox:hover{
	-webkit-transform: scale(1.04);
	-moz-transform: scale(1.04);
	-ms-transform: scale(1.04);
	-o-transform: scale(1.04);
	transform: scale(1.04);
}

@media screen and (max-width: 990px){
	.imageBox:hover{
		transform: none;
	}
}

.content{
	padding: 35% 0;
}

.content h3{
	padding-bottom: 30px;
}

@media screen and (max-width: 1199px){
	.content{
		padding: 0 0;
	}
	#outdoorBtn{
		margin-bottom: 30px;
	}
}

.moreBtn{
    background-color: #fc0;
    border: none;
    color: white !important;
    padding: 12px 28px;
    text-decoration: none !important;
    font-size: 20px;
    cursor: pointer;
}

/* Nature Section Styles */
#natureBanner{
	background: url('../assets/images-videos/lake-ostego.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 180px 0;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

#natureBanner:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

@media screen and (max-width: 766px){
	#natureBanner{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
}

@media screen and (max-width: 600px) {
	#natureBanner{
		padding: 100px 0;
	}
	.contentHeading{
		font-size: 30px;
	}
	.contentDescription{
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	.contentHeading{
		font-size: 26px;
	}
	.contentDescription{
		font-size: 18px;
	}
}

/* Food and Spirits Styles */
#foodBanner{
	background: url('../assets/images-videos/three-dishes.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	padding: 180px 0;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

#foodBanner:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

@media screen and (max-width: 766px){
	#foodBanner{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
}

@media screen and (max-width: 600px) {
	#foodBanner{
		padding: 100px 0;
	}
}

/* Featured Styles */
.featured1{
	background: url('../assets/images-videos/eberle-2.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured1:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured2{
	background: url('../assets/images-videos/interior.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured2:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured3{
	background: url('../assets/images-videos/exterior.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured3:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured4{
	background: url('../assets/images-videos/wine-storage.JPG');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured4:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured5{
	background: url('../assets/images-videos/wedding.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured5:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured6{
	background: url('../assets/images-videos/desserts.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured6:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured7{
	background: url('../assets/images-videos/groundbreaking.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured7:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured8{
	background: url('../assets/images-videos/steak-wine.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured8:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured9{
	background: url('../assets/images-videos/katie-lydia.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured9:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

.featured10{
	background: url('../assets/images-videos/bistro-interior.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transition: filter 0.3s ease-in-out;
	-moz-transition: filter 0.3s ease-in-out;
	-ms-transition: filter 0.3s ease-in-out;
	-o-transition: filter 0.3s ease-in-out;
	transition: filter 0.3s ease-in-out;
}

.featured10:hover{
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}

@media screen and (max-width: 766px){
	.featured1{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured2{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured3{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured4{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured5{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured6{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured7{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured8{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured9{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
	.featured10{
		-webkit-filter: grayscale(0);
		-moz-filter: grayscale(0);
		-ms-filter: grayscale(0);
		-o-filter: grayscale(0);
	    filter: grayscale(0);
	}
}

/* Bio Styles */
.imageContainer{
	height: 100%;
	width: 100%;
	position: relative;
}

#image1{
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('../assets/images-videos/redvelvet-cake.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image2{
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('../assets/images-videos/redbud-tree.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image3{
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('../assets/images-videos/milkshakes.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image4{
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('../assets/images-videos/yellow-field.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image5{
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('../assets/images-videos/side-car.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#image6{
	height: 100%;
	width: 100%;
	position: absolute;
	background: url('../assets/images-videos/pool.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bioSection{
	position: relative; 
	height: 100%; 
	width: 100%; 
	background-color: rgba(210, 207, 205, 0.5);
}

.bioContent{
	padding: 70px 0;
}

#profilePicture{
	height: 350px;
	width: auto;
	border-radius: 5px;
	border: 2px solid #000;
	margin-top: 20px;
}

.bioSection h3{
	color: #000;
	text-align: center;
	font-family: 'Lobster' , cursive;
	letter-spacing: 1px;
}

@media screen and (max-width: 1199px){
	.bioContent{
		padding: 45px 0;
	}
}

@media screen and (max-width: 991px){
	.bioSection h3{
		font-size: 22px;
	}
	.bioContent{
		padding: 35px 0;
	}
	.signature{
		margin-top: 10px;
	}
	#profilePicture{
		margin-top: 80px;
		height: 325px;
	}
}

@media screen and (max-width: 767px){
	.bioContent{
		padding: 25px 0;
	}
	.bioSection h3{
		font-size: 20px;
		margin-top: 10px;
	}
	#profilePicture{
		margin: 0;
	}
}

@media screen and (max-width: 615px){
	.bioSection h3{
		font-size: 19px;
	}
}

@media screen and (max-width: 520px){
	#profilePicture{
		height: 265px;
	}
	.bioSection h3{
		font-size: 18px;
	}
}

@media screen and (max-width: 483px){
	#profilePicture{
		height: 258px;
	}
}

@media screen and (max-width: 448px){
	.bioSection h3{
		font-size: 17px;
	}
}

@media screen and (max-width: 417px){
	#profilePicture{
		height: 240px;
	}
}



/* Contact Styles */
.contactSection{
	background: url('../assets/images-videos/photographer.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.contactContent{
	padding: 50px 0;
}

.contactSection h1{
	color: #f3c200;
	text-decoration: underline;
	font-size: 50px;
	font-family: 'Abril Fatface' , cursive;
	letter-spacing: 3px;
	text-shadow: 2px 2px 4px #000;
}

.contactSection h2{
	color: #fff;
	font-size: 38px;
	font-family: 'Abril Fatface' , cursive;
	letter-spacing: 2px;
	text-shadow: 2px 2px 4px #000;
	margin: 30px 20px 30px 0;
}

/* Footer Styles */
footer{
	width: 100%;
	background-color: #222222;
	padding: 25px 0;
	border-top: 6px solid #777;
}

